#landing_page {
    .row {
        height: 100vh;
        .card {
            .card-header {
                font-size: 1.8em;
            }
            .card-body {
                padding: 0 0 1.25rem 0;
                text-align: center;
                img {
                    max-width: 100%;
                }
                .card-text {
                    margin-bottom: 1.25rem;
                }
            }
        }
    }
}