@import '_colors';
@import '_mixins';

body {
    margin: 0;
    padding: 0;
    font-size: 1em;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    color: $text_primary;
    background: $background;
}

#app {
    overflow: auto;
}